<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/materialize.css"><link/>
    <link rel="stylesheet" href="css/blocosFormulario.css"><link/>
</head>
<body>
  <div class="blocoFormulario">
    <div class="row">
        <form class="col s12" class="test">
          <div class="row">
            <div class="input-field col s6">
              <input id="nome" type="text" class="validate">
              <label for="nome">Nome</label>
            </div>

            <div class="input-field col s6">
              <input id="sobrenome" type="text" class="validate">
              <label for="sobrenome">Sobrenome</label>
            </div>

            <div class="input-field col s6">
                <input id="matricula" type="text" class="validate">
                <label for="matricula">Matricula</label>
            </div>

            <div class="input-field col s6">
                <input id="emailInstitucional" type="text" class="validate">
                <label for="emailInstitucional">Email Institucional</label>
            </div>

            <div class="input-field col s6">
                <input id="periodoEntrada" type="text" class="validate">
                <label for="periodoEntrada">Periodo de Entrada</label>
            </div>
        </form>
      </div>
    </div>
      <script src="js/materialize.js"></script>
</body>
</html>