<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pré-matrícula</title>

    <!-- Angular JS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <!-- Aplicação -->
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="login.js"></script>
    <script type="text/javascript" src="service.js"></script>
</head>
<body ng-app="pre_matricula" ng-controller="AppCtrl as vm">
        <input type="text" ng-model="email"><br>
        <input type="text" ng-model="senha"><br>
        <h3>
            Email: {{email}}<br>
            senha: {{senha}}<br>
        </h3>
        
    <!--
    <div ng-controller="AppCtrl as vm">
        <h1>mural</h1>
        <p>{{vm.msg}}</p>
        <p>comprimento msg: {{vm.msg.length}}</p>
        <p>msg: <input type="text" ng-model="vm.msg"></p>
      </div>
      <div ng-controller="LoginCtrl as vm">
        <h1>mural</h1>
        <p>{{vm.msg}}</p>
        <p>comprimento msg: {{vm.msg.length}}</p>
        <p>msg: <input type="text" ng-model="vm.msg"></p>
      </div>
      -->
    <!--h1>Ola, mundo!!!!</h1-->
</body>
</html>