<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pré-matrícula</title>
    <link href="icon/ccc.png" rel="icon"></link>

    <!-- Angular JS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <!-- Aplicação -->
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="login.js"></script>
    <script type="text/javascript" src="service.js"></script>
</head>
<body>
    <div ng-app="pre_matricula" ng-controller="AppCtrl as vm">
        <input type="text" ng-model="email"><br>
        <input type="text" ng-model="senha"><br>
        <button ng-href="" ng-click="contar();">add</button>
        <hr>
        <h1>Contador: {{contador}}</h1>
        <hr>
    </div>

       <!--  <h3>
            Email: {{vm.email}}<br>
            senha: {{vm.senha}}<br>
        </h3> -->
        
</body>
</html>