<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/materialize.css">
  <link/>
  <link rel="stylesheet" href="css/geral.css">
  <link/>
</head>

<body>

  <nav>
    <div>
      <a class="brand-logo">Pré-Matrícula</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a>Home</a>
        </li>
        <li>
          <a>Login</a>
        </li>
      </ul>
    </div>
  </nav>

  <h3> Login </h3>
  
  <div class="blocoLogin posicaoBloco">
    <div class="row">
      <div class="input-field col s12">
        <input id="senha" type="password" class="validate">
        <label for="senha">Senha</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">
      <i class="material-icons right">Enviar</i>
    </button>
  </div>
</body>

</html>
