<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pré-matrícula</title>
  <link href="../icon/ccc.png" rel="icon">

  <link rel="stylesheet" href="../static/css/materialize.css">
  <link rel="stylesheet" href="../static/css/geral.css">
  <link rel="stylesheet" href="../static/css/normalize.css">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body ng-app="pre_matricula">
  <div class="navbar-fixed">
    <nav>
      <a class="brand-logo center navbar-fixed">Pré-Matrícula</a>
      <ul class="right hide-on-small-and-up">
        <li>
          <a href="../index.html">Login</a>
        </li>
      </ul>
    </nav>
  </div>

  <h3>Cadastro</h3>

  <div ng-controller="CadastroCtrl" class="container blocoFormulario posicaoBloco">
    <!-- Email e senha -->
    <form class="col s12" class="test">
      <div class="row">
        <div class="input-field col s6">
          <input ng-model="email" id="email" type="email" class="validate">
          <label for="email">Email Institucional</label>
        </div>
        <div class="input-field col s3">
          <input ng-model="senha1" id="senha1" type="password">
          <label for="senha1">Senha</label>
        </div>
       <div class="input-field col s3">
          <input ng-model="senha2" type="password">
          <label>Confirmar Senha</label>
         <i class="small material-icons center" style="{{cor}}" <!-- style="color:blueviolet" >{{confirmSenha}}</i>
        </div>
        <!-- Atributos pessoais -->
        <div class="input-field col s6">
          <input ng-model="nome" type="text" id="nome" class="validate">
          <label for="nome">Nome Completo</label>
        </div>

        <div class="input-field col s3">
          <input ng-model="matricula" id="matricula" type="text" class="validate">
          <label for="matricula">Matricula</label>
        </div>

        <div class="input-field col s3">
          <input ng-model="periodoEntrada" id="periodoEntrada" type="number" class="validate">
          <label for="periodoEntrada">Periodo de Entrada</label>
        </div>
      </div>
    </form>
    <br>
    <form action="tipoCadastro">
      <p>
        <label>
          <input ng-model="tipoCadastro" name="group1" type="radio" id="aluno" value="aluno" checked />
          <span for="aluno">Aluno</span>
        </label>
      </p>
      <p>
        <label>
          <input ng-model="tipoCadastro" name="group1" id="coordenaodr" type="radio" value="coordenador" />
          <span for="coordenador">Coordenador</span>
        </label>
      </p>
    </form>
    <div>
      <button ng-click="envio()" class="btn waves-effect waves-light" type="submit" name="action">Cadastrar
        <i class="material-icons right">add_circle_outline</i>
      </button>
    </div>
  </div>

  <script type="text/javascript" src="../js/materialize.js"></script>
  <script type="text/javascript" src="../static/angular.min.js"></script>
  <script type="text/javascript" src="../controllers/app.js"></script>
  <script type="text/javascript" src="../controllers/controller_cadastro.js"></script>
</body>

</html>