<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pré-matrícula</title>
  <link th:href="@{/..static/icon/ccc.png}" rel="icon">

  <link rel="stylesheet" th:href="@{/css/materialize.css}" href="../static/css/materialize.css">
  <link rel="stylesheet" th:href="@{/css/geral.css}" href="../static/css/geral.css">
  <link rel="stylesheet" th:href="@{/css/normalize.css}" href="../static/css/normalize.css">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <nav>
        <div>
            <a class="brand-logo">Pré-Matrícula</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a>Home</a>
                </li>
                <li>
                    <a>Sair</a>
                </li>
            </ul>
        </div>
    </nav>


    <h3>Formulario Coordenador</h3>

    <div class="blocoFormulario posicaoBloco">
        <div class="row">
            <form class="col s12" class="test">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="nome" type="text" class="validate">
                        <label for="nome">Nome</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="sobrenome" type="text" class="validate">
                        <label for="sobrenome">Sobrenome</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="emailInstitucional" type="text" class="validate">
                        <label for="emailInstitucional">Email Institucional</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="celular" type="text" class="validate">
                        <label for="celular">Celular</label>
                    </div>


                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        <i class="material-icons right">Enviar</i>
                    </button>
                </div>
                <script src="js/materialize.js"></script>
</body>
